## Basic python

In [ ]:
print('Hello Python!')

In [ ]:
Name = "Harun"
Age = 25
print(Name,Age)

In [ ]:
food_name1 = "cake"
food_name2 = 'icecream'
food1_quantity = 2.5 
food2_quantity = 2
food1=True
food2=False

In [ ]:
type(food_name1)

In [ ]:
type(food1_quantity)

In [ ]:
name = input("Enter your name:")
age = int(input("Enter your age: "))
print("Hi",name ,"!")
print("Age:",age)

## Data structure and Function

In [ ]:
list1 = ['Harun',25,'Data scientist']
print(list1)

In [ ]:
list1[1]=24

In [ ]:
list1[0]='Abir'

In [ ]:
list1[0]='Kamran'

In [ ]:
print(list1)

In [ ]:
type(list1)

In [ ]:
tuple1 = ('Harun',25,'Data scientist','Quantum.ai')
print(tuple1)

In [ ]:
tuple1[-1]

In [ ]:
type(tuple1)

In [ ]:
color = {'Blue','Red'}
print(color)

In [ ]:
type(color)

In [ ]:
color.add('orange')

In [ ]:
print(color)

In [ ]:
color.remove('White')

In [ ]:
print(color)

In [ ]:
color.discard('White')

In [ ]:
color = {
    'T-shirt':'White',
    'Car':'Blue',
    'Mobile_color':'Red'
}

In [ ]:
quantum_ai = {
    'Founder':'Harun',
    'Age':25,
    'Job':'Data Scientist'
}

In [ ]:
quantum_ai['Founder'] = 'Rashid'

In [ ]:
quantum_ai['Founder']

In [ ]:
def add(a,b):
    return a/b

In [ ]:
add(10,0)

In [ ]:
try:
    a = int(input('Enter the number : '))
    b = int(input('Enter the number: '))
    result = a/b
    print(result)
    print('Done!')
except ZeroDivisionError as e:
    print(e)

In [ ]:
def my_function(name,age):
    print(f'Hi {name} is {age} years old!')

In [ ]:
my_function('Harun',25)

In [ ]:
import calculation

In [ ]:
calculation.add(10,20)

In [ ]:
import math

In [ ]:
x = math.sqrt(20)
print(x)

In [ ]:
try:
    list1 = [50,0,10]
    result = list1[0]/list1[1]
    print(result)
    print('Done!')
except (IndexError,ZeroDivisionError ):
    print('Done!')
finally: 
    print('Successful')

In [ ]:
Harun_age=int(input('Enter your age:'))
Abir_age = int(input('Enter your age:'))
if Harun_age>Abir_age:
    print('Harun older then Abir!')
else: 
    print('Program not ok!')

In [ ]:
Harun_age=int(input('Enter your age:'))
Abir_age = int(input('Enter your age:'))
if Harun_age>Abir_age:
    print('Harun older then Abir!')
elif Abir_age < Harun_age:
    print('Abir older then Harun!')

In [2]:
color = {'Blue','Red','White','Orange'}
for x in color:
    print(x)

Orange
Red
White
Blue

In [3]:
for x in range(0,100):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [10]:
class CSE():
    name = ''
    age = ''
    gpa=''
name = CSE()
name.name= 'Harun'
name.Age = 24
name.gpa = 3.65
print(f'{name.name} is {name.Age} old and his gpa {name.gpa}')

Harun is 24 old and his gpa 3.65

In [11]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\asus\appdata\local\continuum\anaconda3\lib\site-packages (0.25.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\asus\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\asus\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.13.3 in c:\users\asus\appdata\local\continuum\anaconda3\lib\site-packages (from pandas) (1.16.5)
Requirement already satisfied: six>=1.5 in c:\users\asus\appdata\roaming\python\python37\site-packages (from python-dateutil>=2.6.1->pandas) (1.15.0)

WARNING: You are using pip version 20.1.1; however, version 20.2.3 is available.
You should consider upgrading via the 'c:\users\asus\appdata\local\continuum\anaconda3\python.exe -m pip install --upgrade pip' command.

In [12]:
import pandas as pd

In [26]:
student_info = {
    'Name':["Harun",'Abir','Kamran','Mishan'],
    'Age': [24,25,24,22],
    'Job':['Data Scientist','CMO','Web Developer and Deep learning Devops','Student']
}
df = pd.DataFrame(student_info)

In [27]:
df.head()

     Name  Age                                     Job
0   Harun   24                          Data Scientist
1    Abir   25                                     CMO
2  Kamran   24  Web Developer and Deep learning Devops
3  Mishan   22                                 Student

In [22]:
df.tail()

     Name Age                                     Job
0   Harun  24                          Data Scientist
1    Abir  25                                     CMO
2  Kamran      Web Developer and Deep learning Devops
3  Mishan  22                                 Student

In [28]:
df.isnull().count()

Name    4
Age     4
Job     4
dtype: int64

In [35]:
df.to_csv('Student_data',index=False)

In [36]:
df1 = pd.read_csv('Student_data')

In [37]:
df1.head()

     Name  Age                                     Job
0   Harun   24                          Data Scientist
1    Abir   25                                     CMO
2  Kamran   24  Web Developer and Deep learning Devops
3  Mishan   22                                 Student

In [38]:
df1.set_index('Age')

       Name                                     Job
Age
24    Harun                          Data Scientist
25     Abir                                     CMO
24   Kamran  Web Developer and Deep learning Devops
22   Mishan                                 Student

In [39]:
!pip install numpy

Requirement already satisfied: numpy in c:\users\asus\appdata\local\continuum\anaconda3\lib\site-packages (1.16.5)

WARNING: You are using pip version 20.1.1; however, version 20.2.3 is available.
You should consider upgrading via the 'c:\users\asus\appdata\local\continuum\anaconda3\python.exe -m pip install --upgrade pip' command.

In [43]:
import numpy as np

In [44]:
lst = [20,10,30]

In [47]:
list1=np.array(lst)

In [48]:
list1.mean()

20.0

In [51]:
list1.reshape(2,1)

ValueError: cannot reshape array of size 3 into shape (2,1)